<div class="container bg-light">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="clo-md-6">

      <!-- for alert -->
      <div class="alert alert-warning alert-dismissible fade show" role="alert" *ngIf="isChecked">
        <strong>Holy guacamole!</strong> You should check in on some of those fields below.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!-- for card -->
      <h1 class="text-center  mt-4 ">To-Do-List</h1>
      <div class="input-group ">
        <input type="text" class="form-control" [(ngModel)]="name" placeholder="To day-list"  >
        <div class="input-group-append">
          <span class="input-group-text btn-outline-primary" (click)="add()">{{addButton}}</span>
        </div>
      </div>

      <!-- <div class="list">
        <ul class="mt-4" >
          <li *ngFor="let item of todos ; let i = index">
            <button class="btn btn-primary mr-2" (click)="edit(i)">Edit</button>
            <button class="btn btn-danger mr-2" (click)="delete(i)">Delete</button>
            <span>{{item.name}}</span>
          </li> 
        </ul>
      </div> -->

      <table class="table table-hover mt-3"  >
        <thead>
          <th>To Day Task</th>
          <th class="text-primary"> Edit</th>
          <th class="text-danger">Delete</th>
          <th class="text-success">Status</th>
        </thead>
        <tbody>
          <tr *ngFor="let item of todos; let i = index">
             <td>{{item.name}}</td>
             <td><button class="btn btn-primary mr-2" (click)="edit(item.name, i)">Edit</button></td>
             <td> <button class="btn btn-danger mr-2" (click)="delete(i)">Delete</button></td>
             <td><input type="checkbox" (change)="FieldsChange($event,i)" [(ngModel)]="isChecked" class="check"></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-md-3"></div>
  </div>
</div>